* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.alert-reklam {
  background-color: #F6475F;
  padding: 12px;
}

.box-reklam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-reklam span {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
}

.box-reklam span a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: transparent;
  text-decoration: underline;
}

.box-reklam .close {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.box-reklam .close span {
  font-size: 25px;
  margin: 0px 0 4px 5px;
  font-weight: bold;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
}

.box-reklam .close span:hover {
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.connecting-header {
  background-color: #343A40;
  padding: 12px 0 10px;
  font-size: 16px;
}

.connecting-header .info i {
  font-size: 19px;
}

.connecting-header .info span {
  margin: 7px;
}

.connecting-header button {
  background-color: #DF9C00;
  border: 0px;
  color: white;
  padding: 7px 15px;
  border-color: #DF9C00;
  border-radius: 4px;
  font-size: 14px;
}

.connecting-header .apply {
  color: white !important;
}

.connecting-header a {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.connecting-header a:hover {
  color: #DF9C00;
  text-decoration: none;
}

.connecting-header .login {
  color: white;
  margin-left: 194px;
}

.connecting-header .login .icon {
  margin-left: 13px;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
}

.connecting-header .login .icon:hover {
  color: #DF9C00;
}

nav a {
  color: #333333;
  font-weight: bold;
  font-family: sans-serif;
}

nav .form-control {
  display: none;
  margin-right: 30px;
  position: absolute;
  z-index: 3;
  right: 0px;
  top: 65px;
  width: 260px;
  padding: 34px 20px;
  -webkit-box-shadow: 0.1px -0.8px 3.3px 1.2px;
          box-shadow: 0.1px -0.8px 3.3px 1.2px;
  font-family: "Roboto', sans-serif";
}

nav .form-control .search {
  background-color: transparent;
  border: 0;
  position: absolute;
  z-index: 1;
  top: 18px;
  right: 20px;
  font-size: 23px;
  color: #777;
}

nav .form-control #search_input {
  position: absolute;
  top: 0;
  padding: 10px 20px;
  margin-top: 8px;
  border-radius: 2px;
}

form {
  padding: 10px 20px;
}

.search-icon {
  border: 0px;
  background-color: #fff;
}

ul li a {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

ul li a:hover {
  color: #DF9C00;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.modal-content {
  z-index: 99;
  position: relative;
  border-radius: 6px;
  min-height: 58.8%;
}

.modal-body {
  padding: 0;
  height: 440px;
}

.image {
  margin: 0px;
}

.image img {
  width: 300px;
  height: 440px;
}

.registration {
  padding: 20px;
}

footer input {
  padding: 10px 105px 10px 15px;
  width: 100%;
  color: #777;
}

footer .top {
  padding: 80px 0;
}

footer h6 {
  margin: 10px 0 20px;
  font: 18px Rubik, sans-serif;
  color: white;
  text-transform: capitalize;
}

footer p {
  font: 14px Roboto, sans-serif;
  color: white;
  margin-top: 23px;
}

footer ul li {
  list-style-type: none;
  display: inline-block;
  padding: 2px 3px;
}

footer ul li i {
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: none;
}

footer .list-icon li {
  background-color: #494E53;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 4px;
}

footer .links-list li {
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .links-list li:hover {
  -webkit-transform: translateX(11px);
          transform: translateX(11px);
}

footer .content img {
  margin-right: 10px;
  width: 100px;
  float: left;
  max-width: 60px;
}
/*# sourceMappingURL=style.css.map */