*{
    box-sizing: border-box;
}


.connecting-header{
    background-color: $header-color;
    padding: 12px 0 10px;
    font-size: $paragraph-shrift;
    
    .info{
        i{
            font-size: 19px;
        }
        span{
            margin: 7px;
        }
    }
    button{
        background-color:$primary-color;
        border:0px;
        color: white;
        padding: 7px 15px;
        border-color: $primary-color;
        border-radius: 4px;
        font-size: 14px;
    }
    .apply{
        color:white !important;
    }
    a{
        color: white;
        text-decoration: none;

    }
    .login{
        color:white;
        margin-left: 194px;
        
        .icon{
            margin-left: 13px;
            text-decoration: none;
            @include transition(color 0.5s); 
            cursor: pointer;
            &:hover{
            color: $primary-color;
            }
        
        }
    }
  
}nav{
    
    position: relative;
    z-index: 999;
    padding: 12px  0 10px;
.dropdown{
padding-left: 218px;
padding-top: 3px;

     ul{
         padding: 0px;
         .item{
             display: inline-block;
             
         }
         li{
            list-style-type: none; 
            display: inline-block;
            margin-right: 14px;
            font-weight: bold;
            font-size: 16px;
            color: #333;
            font-family: sans-serif;
            cursor: pointer;
            i{
                font-size: 19px;
            }
         }
     } 

}
}